---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api>&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660011685,"sunrise":1659960333,"sunset":1660010742,"temp":79.54,"feels_like":79.54,"pressure":1014,"humidity":49,"dew_point":58.71,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":7,"wind_deg":188,"wind_gust":14,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1660010400,"temp":79.54,"feels_like":79.54,"pressure":1014,"humidity":49,"dew_point":58.71,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":13.98,"wind_deg":154,"wind_gust":17.94,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.04},{"dt":1660014000,"temp":79.56,"feels_like":79.56,"pressure":1014,"humidity":48,"dew_point":58.15,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":11.52,"wind_deg":162,"wind_gust":19.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.04},{"dt":1660017600,"temp":79.02,"feels_like":79.02,"pressure":1014,"humidity":47,"dew_point":57.07,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":9.8,"wind_deg":171,"wind_gust":16.89,"weather":[{"id":800,"mai[...]
