---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api>&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660058276,"sunrise":1660046790,"sunset":1660097070,"temp":77.52,"feels_like":77.27,"pressure":1017,"humidity":49,"dew_point":56.88,"uvi":2.83,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":198,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660057200,"temp":77.52,"feels_like":77.27,"pressure":1017,"humidity":49,"dew_point":56.88,"uvi":2.83,"clouds":0,"visibility":10000,"wind_speed":0.45,"wind_deg":184,"wind_gust":1.41,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660060800,"temp":78.35,"feels_like":78.04,"pressure":1017,"humidity":46,"dew_point":55.89,"uvi":5.16,"clouds":0,"visibility":10000,"wind_speed":1.43,"wind_deg":81,"wind_gust":0.81,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660064400,"temp":80.33,"feels_like":80.33,"pressure":1016,"humidity":42,"dew_point":55.17,"uvi":7.65,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":66,"wind_gust":3.18,"weather":[{"id":800,"main":"[...]
